body{
	font-family: "open sans", sans-serif; 
}
h1{
	font-weight: 700;
}
h2{
	font-weight: 400;
}

header{
	background-image: url(../img/bg_hero.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	padding-bottom: 10rem;
}

#trabajos{
	background-color: #572364;
}
nav.navbar {
    background-color: #572364;
}
.morado{
	background-color: #572364;
}
a{
	color: white;
}

.modal-content img{
width: 90%;
height: 50%;
}
@media screen and (max-width: 600px){
	.hidden{
		display: none;
	}
}


footer .container-fluid{
	margin-top: 4.5rem;
	padding: 3.125rem;
}

footer i {
  margin: 0 0.25em 0.5em 0.25em;
} 
.display-1{
	text-align: center;
}